/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.App {
  text-align: center;
}

.CarsContainer {
  padding: 15px;
  width: 100%;
  margin: 1.5%;
}

.car-card {
  border-radius: 10px 10px 10px 10px;
  float: left;
  margin: 1.5%;
  padding: 1%;
  background: whitesmoke;
  width: 30%;
  height: 750px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.new-car {
  text-align: left;
}

.new-car-card {
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  float: left;
  margin-left: auto;
  margin-right: auto;
  margin: 1.5%;
  padding: 1%;
  background: whitesmoke;
  width: 30%;
  height: 400px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.car-card-center {
  border-radius: 10px 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  background: whitesmoke;
  width: 50%;
  height: 415px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

input[type="text"] {
  margin-bottom: 5px;
  margin-top: 5px;
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #a9a9a9;
}

button[type="submit"] {
  margin-bottom: 5px;
  width: 50%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #a9a9a9;
  background-color: #007acc;
  color: #f0f8ff;
  opacity: 0.5;
  font-size: 15px;
  cursor: pointer;
}

.car-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.car-image {
  width: 100%;
  border-radius: 5px 5px 5px 5px;
}
