<%= render 'layouts/header' %>
<h1>Category</h1>

<% if @category %>
	<h2 class="name"><%= @category.name %></h2>
  <div>
    <button class="btn btn-default"><%= link_to "Delete Category", @category,  :data => {:confirm => "You Sure?", :method => :delete} %></button><br><br>
  </div>
<% end %>
