<%= render 'layouts/header' %>
<h1>All Cars:</h1>
<% @cars.each do |car| %>
  <h3><%= car.make + " " + car.model %></h3>
  <div id="car-<%= car.id %>"></div>
  <button class="js-more" data-id="<%= car.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/cars/" + id + ".json", function(data) {
        var descriptionText = "<p>" + data["color"] + "</p><p>" + data["year"] + "</p>";
        $("#car-" + id).html(descriptionText);
    });
  });
});
</script>
